.position{
    text-align: center;
    height: 500px;  
 
}

span{
    color: #5578A8;
     font-size: 50px;
}
.color{
    color:white !important;
}

/*color:#EAEBEE
color:#B8BAC4
color:#0F1126
color:#555363
color:#C64650
color:#5578A8*/