<nav  class="navbar  header">
    <div class="navbar-brand ">
       <span style="color:#5578A8">
         17SOECE1012
         </span>      
         <!-- 5578A8 -->
    </div>  
    <!-- Default switch -->
  
<!-- <div class="custom-control custom-switch"  >
  <input type="checkbox" (click)="night()" class="custom-control-input" id="customSwitches">
  <label class="custom-control-label" for="customSwitches"> <i class="{{mode}}"></i></label>
</div> -->
    <ul class="nav  d-flex flex-row  justify-content-end " >
        <li class="nav-item ">
          <a class="nav-link active"  routerLink="home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="project">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="signup">Signup</a>
        </li>
      </ul>      
</nav>
