<nav class="navbar  header  ">
    <div class="navbar-brand ">
       <span style="color:#5578A8">
         17SOECE1012
         </span>      
    </div>
    <ul class="nav  d-flex flex-row  justify-content-end ">
        <li class="nav-item ">
          <a class="nav-link active" routerLink="home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="project">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup">Signup</a>
        </li>
      </ul>      
</nav>
