<!--<div class="row m-1" >
    
    <img class="col-sm-12 " style="width: 200px;" />
    <div class="card-body col-sm-12 smx-5">
        
    </div>
</div>-->


<div class="m-1 d-flex align-content-center row col-12">
    <img class="col-md-4 " [src]=student.imgurl>
    <div class="my-5 col-md-8 d-flex flex-column  ">
        <h4 class="align-content-center  text-info">{{student.name | titlecase}}</h4>
        <p class="card-text " style="font-size:20px;">   <i class="fas fa-id-card "></i> : {{student.Eno}}</p>
        <p class="card-text " style="font-size:20px;">   <i class="fa fa-birthday-cake" aria-hidden="true"></i> : {{student.bdate | date}}</p>
        <p class="card-text " style="font-size:20px;">   <i class="fas fa-money-bill    "></i> : {{student.fee | currency:"INR"}}</p>
        <p class="card-text " style="font-size:20px;">   <i class="fas fa-percent    "></i> : {{student.per | percent}}</p>        
    </div>
  </div>