<h3 class=" text-center py-4">
    <p style="color:#c51f5d; font-size:35px;">Student Records</p>
  </h3>
<div class="row text-center text-lg-left">
    
    <div class="col-lg-4 col-md-6 col-12" *ngFor="let s of student; index as id">
        <div class="card-header m-1" >
            <img class=" mx-auto d-block" [src]=s.imgurl />
          
            <div class="card-body text-center ">
                <a [routerLink]="['/studentsdetails',id]" > <h4  id="name" name="name" class="card-title text-info"> {{s.name}}</h4></a>
                <p class="card-text "style="font-size:20px;">   <i class="fas fa-id-card "></i> {{s.Eno}}</p>
                <a (click)="onClickMe(s)"class="btn btn-outline-info">See Profile</a>
            </div>
        </div>
    </div> 
   
</div>