main{
  position: relative;
  background-image:url('http://www.script-tutorials.com/demos/360/images/stars.png');
  background-color:#000; 
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body  {
  -ms-overflow-style: none;
}

.theme{
   color: aliceblue  !important;
    background:#000 url('http://www.script-tutorials.com/demos/360/images/stars.png');
    
}