main{
  position: relative;
  
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body  {
  -ms-overflow-style: none;
}

.theme{
   color: aliceblue  !important;
    background: #000 url('https://cdn.jsdelivr.net/gh/jeelfaldu/tutorial-07-cceyur@master/src/assets/img/stars.png');
    
}